.workspage {
  display: flex;
  flex-direction: column;
}

.works_carousel {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 2000px) {
  .works_carousel {
    height: 60vh;
  }
}

@media screen and (max-width: 1150px) {
  .works_carousel {
    height: 80vh;
  }
}

@media screen and (max-width: 650px) {
  .works_carousel {
    height: 80vh;
  }
}