.links_list {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 100%;
  justify-content:space-evenly;
  overflow: hidden;
  flex-direction: column;
  margin: 152px;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .links_list {
    flex-direction: row;
    margin: 0px;
  }
}

@media screen and (max-width: 650px) {
  .links_list {
    flex-direction: row;
    margin: 0px;
  }
}