.about_page {
  display: flex;
  flex-direction: column;
}
.about_content{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.about_content img {
  border-radius: 1%;
  border: 1px solid var(--color-golden);
}
.about_content p {
  color: var(--color-golden);
  letter-spacing:  0.075em;
  font-size: 72px;
}


@media screen and (max-width: 2000px) {
  .about_content{
    height: 75vh;
    padding: 32px 56px;
  }
  .about_content p {
    width: 100%;
    padding: 32px;
  }
  .about_content img{
    object-fit: contain;
    width: 25%;
  }
}

@media screen and (max-width: 1150px) {
  .about_content{
    height: 85vh;
    padding: 32px 56px;
  }
  .about_content p {
    width: 100vw;
    padding: 16px 0px;
  }
  .about_content img{
    object-fit: contain;
    width: 100vw;
  }
}

@media screen and (max-width: 650px) {
  .about_content{
    height: 85vh;
    padding: 16px;
  }
  .about_content p {
    margin: 16px 0px;
  }
  .about_content img{
    object-fit: contain;
  }
}