.about_page {
  display: flex;
  flex-direction: column;
}
.about_content{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 488px;
  padding: 16px;
}

.about_content img {
  border-radius: 50%;
  height: 320px;
  border: 1px solid var(--color-golden);
}
.about_content p {
  color: var(--color-golden);
  letter-spacing:  0.075em;
  font-size: 72px;
}


@media screen and (max-width: 1150px) {
  .about_content{
    height: 90vh;
  }
}

@media screen and (max-width: 650px) {
  .about_content{
    height: 90vh;
  }
}