.work_page {
  display: flex;
  flex-direction: column;
}

.work_content{
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work_content img{
  object-fit: contain;
  width: 25%;
}

.work_content p {
  color: var(--color-golden);
  letter-spacing:  0.17em;
  font-size: 32px;
  text-align: center;
}

.work_content div{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  white-space : nowrap;
  padding: 32px 0px;
}

.work_missions {
  color: var(--color-golden);
  letter-spacing:  0.17em;
  text-transform: capitalize;
  font-size: 72px;
  width: 100%;
}

.work_missions_list {
  color: var(--color-golden);
  letter-spacing:  0.17em;
  font-size: 40px;
  list-style: none;
  width: 100%;
}

details
{
    transition: height 1s ease;
    overflow: hidden;
    height: 1em;
}

details summary {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.animated-icon {
  height: 50px;
  width: 50px;
  transition: transform 1s;
} 

details[open]
{
  height: 5em;
}

details[open] .animated-icon {
  transform: rotate(405deg);
}


@media screen and (max-width: 2000px) {
  .work_content{
    height: 75vh;
    padding: 32px 56px;
  }
  .work_content p {
    width: 75%;
    padding: 32px;
  }
  .work_content img{
    object-fit: contain;
    width: 25%;
  }
}

@media screen and (max-width: 1150px) {
  .work_content{
    height: 85vh;
    padding: 32px 56px;
  }
  .work_content p {
    width: 100%;
    padding: 16px 0px;
  }
  .work_content img{
    object-fit: contain;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .work_content{
    height: 85vh;
    padding: 16px;
  }
  .work_content p {
    width: 100%;
    padding: 16px 0px;
  }
  .work_content img{
    object-fit: contain;
    width: 100%;
  }
}