.navbar {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.navbar_menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  cursor: pointer;
  color: var(--color-golden);
  flex-direction: column;
  display: none;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 48px;
  height: 2px;
  background-color: var(--color-golden);
  margin: 6px 0;
  transition: 0.4s;
}

.menu-bar2 {
  width: 24px;
}

/* ROTATE FIRST BAR */
.menu_overlay .menu-bar1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

/* FADE OUT SECOND BAR */
.menu_overlay .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.menu_overlay .menu-bar3 {
  transform: rotate(45deg) translate(-10px, -10px); 
}

.navbar_titles {
  transition: width 0.4s;
  width: 212px;
}

.navbar_title {
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing:  0.075em;
  color: var(--color-golden) ;
  font-size: 56px;
  white-space: nowrap;
}

.navbar_title div {  
  height: 56px;
  width: 1px;
  background-color: var(--color-golden);
  margin: 0px 8px 0px 16px;
}

.navbar_title_icon {
  position: relative;
  margin-right: 8px;
  margin-bottom: -5px;
  width: 0px;
  transition: width 1s;
  height: 48px;

}

.navbar_title:hover .navbar_title_icon {
  width: 48px;
}


.navbar_links {
  display: none;
}

@media screen and (max-width: 2000px) {
  .navbar {
    margin-left: 152px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    margin-left: 0px;
    background-color: #0c0d11e1;
  }
  .navbar_menu {
    display: flex;
  }
  .navbar_titles.overlay {
    width: 0px;
  }
  .navbar_links {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    margin-left: 0px;
    background-color: #0c0d11e1;
  }
  .navbar_menu {
    display: flex;
  }
  .navbar_titles.overlay {
    width: 0px;
  }
  .navbar_links {
    display: flex;
  }
}